* {
  box-sizing: border-box;
}

:root {
  --primary-bk: #fff7ed;
  --secondary-bk: #ff8c38;
  --tertiary-bk: #ffcc8d;
  --quaternary-bk: #fbe9dc;
  --primary-text: #151515;
  --secondary-text: #252525;
  --gray-text: #4d4d4d;
  --white-text: #fff;
  --error-text: #be3d2a;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bk);
  font-family: "Inter", sans-serif;
}

body {
  scrollbar-width: none;
}

p {
  line-height: 1.5;
  padding: 0;
}

.bold {
  font-weight: bold;
}

/*** book container ***/
.container {
  padding-inline: 1.4em;
}

nav {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--gray-text);
  font-weight: 600;
  padding: 0.3em 0.8em;
}

a:hover {
  color: var(--secondary-text);
  text-decoration: underline;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--error-text);
}

/*** Not sure if necssary, main-content in Layout ***/

/* .main-content {

} */
