* {
  box-sizing: border-box;
}

:root {
  --primary-bk: #fff7ed;
  --secondary-bk: #ff8c38;
  --tertiary-bk: #ffcc8d;
  --primary-text: #151515;
  --secondary-text: #252525;
  --gray-text: #4d4d4d;
  --white-text: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bk);
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  line-height: 1.5;
}

.bold {
  font-weight: bold;
}

/*** book container ***/
.container {
  padding-inline: 1.4em;
}

/*** Not sure if necssary, main-content in Layout ***/

/* .main-content {

} */
