.review {
  margin-top: 1em;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form .rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

form .comment {
  display: flex;
  flex-direction: column;
}

form .comment label {
  font-size: 1.3rem;
  margin-top: 1em;
}

textarea {
  margin-top: 1em;
  height: 250px;
  width: 100%;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

.review label {
  position: relative;
}

.send-btn {
  background-color: var(--secondary-bk);
  padding: 0.8em 1em;
  border: none;
  color: var(--primary-bk);
  border-radius: 0.5em;
  margin-top: 2em;
  align-self: flex-end;
}
