.book-category-btn {
  width: fit-content;
  font-size: 1em;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.book-list {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.15em;
  margin-top: 3.56em;
}

.book-card {
  width: 100%;
}

.book-card a {
  color: #161616;
  text-decoration: none;
}

.book-card img {
  width: 90%;
  border-radius: 5px;
}

.book-list-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

/* Large Devices (Laptops, Small Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra Large Devices (Large Desktops, 4K Screens) */
@media (min-width: 1200px) {
  .book-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
